backups/
build/
*.user
build-test/
tests/out/
__pycache__/
plugins/*/build/
plugins/*/out/
plugins/*/.qmake.stash
plugins/*/Makefile
vendor/effects-plugin/
vendor/visual-map-plugin/
tests/*/.qmake.stash
tests/*/Makefile
tests/*/Makefile.*
tests/*/release/
tests/*/debug/
