CompileFlags:
  Add:
    - -IC:/Qt/6.8.3/msvc2022_64/include
    - -IC:/Qt/6.8.3/msvc2022_64/include/QtCore
    - -IC:/Qt/6.8.3/msvc2022_64/include/QtGui
    - -IC:/Qt/6.8.3/msvc2022_64/include/QtWidgets
    - -IC:/Qt/6.8.3/msvc2022_64/include/QtQml
    - -IC:/Qt/6.8.3/msvc2022_64/include/QtQuick
    - -IC:/Qt/6.8.3/msvc2022_64/include/QtQuickWidgets
    - -IC:/Qt/6.8.3/msvc2022_64/include/QtQuick3D
    - -IC:/Qt/6.8.3/msvc2022_64/include/QtNetwork
    - -I../plugins/DesktopLightingStudio
    - -I../OpenRGB/Controllers/LianLiWirelessController
    - -I../OpenRGB/dependencies
    - -I../OpenRGB/dependencies/json
    - -I../OpenRGB/dependencies/tinyuz
    - -I../OpenRGB/dependencies/HDiffPatch
    - -I../OpenRGB/dependencies/libusb-1.0.27/include
    - -std=c++17
    - -fms-compatibility-version=19.44
    - -fms-extensions
