CompileFlags:
  Add:
    - -IC:/Qt/6.8.3/msvc2022_64/include
    - -IC:/Qt/6.8.3/msvc2022_64/include/QtCore
    - -IC:/Qt/6.8.3/msvc2022_64/include/QtGui
    - -IC:/Qt/6.8.3/msvc2022_64/include/QtWidgets
    - -IC:/Qt/6.8.3/msvc2022_64/include/QtQml
    - -IC:/Qt/6.8.3/msvc2022_64/include/QtQmlModels
    - -IC:/Qt/6.8.3/msvc2022_64/include/QtQuick
    - -IC:/Qt/6.8.3/msvc2022_64/include/QtQuickWidgets
    - -IC:/Qt/6.8.3/msvc2022_64/include/QtQuick3D
    - -IC:/Qt/6.8.3/msvc2022_64/include/QtNetwork
    - -IC:/Qt/6.8.3/msvc2022_64/include/QtOpenGL
    - -IC:/Users/daniel/tools/openrgb-unified/OpenRGB
    - -IC:/Users/daniel/tools/openrgb-unified/OpenRGB/RGBController
    - -IC:/Users/daniel/tools/openrgb-unified/OpenRGB/dependencies/json
    - -std=c++17
